.parent {
  background-color: rgb(81, 218, 218);
  height: 600px;
  width: 100%;
}

.child {
  background-color: orange;
  width: 100px;
  height: 100px;
  font-weight: 600;
}
.child.v2 {
  background-color: palevioletred;
}
.child.v3 {
  background-color: rebeccapurple;
}

/**
 * 横方向のレイアウト
 */
/* インライン要素に対して */
// .parent {
//   text-align: center;
//   letter-spacing: -6px;  /*要素ごとの余白がなくなる　文字の間隔を調整するとき*/
// }
// .child {
//     display: inline-block;
// }

/* ブロック要素を中央揃え */
// .parent {
// }
// .child {
//     margin: 0 auto; /*左右の中央揃え　widthが指定されている場合に使える*/
// }

/**
 * 上下方向のレイアウト
 */
// .parent {
//   position: relative;
// }
// .child {
//   position: absolute; /*親要素のrelativeを左上を始点とする*/
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%); /*boxの左上を基準として動かしているため、box自体の上下-50%分移動させboxの中央が親要素の中央に来るように設定している*/
// }

.parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
